[submodule "injector"]
	path = injector
	url = https://github.com/yjh051108/dsh-super-injector.git
[submodule "preset"]
	path = preset
	url = https://github.com/yjh051108/dsh-router-standard.git
[submodule "mode-boost"]
	path = mode-boost
	url = https://github.com/yjh051108/dsh-mode-boost.git
[submodule "catalog/oh-my-dsh"]
	path = catalog/oh-my-dsh
	url = https://github.com/like-study1/Oh-My-DSH.git
	branch = main
[submodule "market/dsh-market"]
	path = market/dsh-market
	url = https://github.com/dsh-market/dsh-market.git
	branch = main
