[submodule "injector"]
	path = injector
	url = https://github.com/yjh051108/dsh-super-injector.git
	branch = main
[submodule "preset"]
	path = preset
	url = https://github.com/yjh051108/dsh-router-standard.git
	branch = main
[submodule "mode-boost"]
	path = mode-boost
	url = https://github.com/yjh051108/dsh-mode-boost.git
	branch = main
